.root{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto 1fr;
}

.title-area{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    font-size: 30px;
    color: rgb(5, 5, 78);
    background-color: rgba(100, 148, 237, 0.438);
}


